<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <meta charset="utf-8">
        <title>Base</title>
        <link  rel="stylesheet" href="{% static "css/Base_style.css" %}">
        <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Sansita+Swashed:wght@600&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="bar">
            <nav class ="nvbar">
                <a href="#""><img class='img' src="{%static "Images/BUTTERFLY_2.png" %}" alt="logo"></a>
                <ul>
                    <li><a href="{% url 'index'%}"">Index</a></li>
                    <li><a href="{% url 'AppOne:register'%}">Register</a></li>
                    <li><a href="{% url 'admin:index'%}">Admin</a></li>
                    <li><a></a></li>
                    {%if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">logout</a></li>
                    <li><a href="{% url 'AppOne:special'%}">Profile</a></li>
                    {%else%}
                    <li><a href="{% url 'AppOne:user_login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="jmbtrn">
            <div class="container">
            {%block body_block%}
            {%endblock%}
             </div>
        </div>
    </body>
</html>